<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <section id="homePage">
            <h1 class="homeTitle">BuurtConnect: Jouw Buurt, Jouw Projecten</h1>
            <article class="homeText">
                Welkom bij BuurtConnect, het platform dat jouw buurt tot leven brengt met
                geweldige projecten en initiatieven! Of je nu een idee hebt om je buurt groener 
                te maken, een evenement wilt organiseren om je buren te verenigen, of gewoon op 
                zoek bent naar manieren om actief deel te nemen aan je gemeenschap, BuurtConnect 
                is er om je te helpen.
            </article>
        </section>

        <section id="projectPage">
            <h2 class="homeh2">Vraag & Aanbod</h2>
            <div class="cardContainer">
                <% services.forEach(function(service) { %>
                    <!-- Laat alleen de service zien als het type een vraag is -->
                    <% if (service.type=='vraag' ) { %>
                        <article class="cardItem">                            
                            <% if (service.image) { %>
                                <img src="https://fdnd-agency.directus.app/assets/<%= service.image %>">
                            <% } %>
    
                            <div class="description">
                                <a href="/vraag-aanbod/<%= service.id %>">
                                    <h3><%= service.title %></h3>                                    
                                
                                    <p>
                                        <span>
                                            <%= service.start_date %> - <%= service.end_date %>
                                        </span>
                                    </p>
        
                                    <p><%- service.short_description %></p>
                                </a>
                            </div>
    
                            <button class="cardButton"><a href="/vraag-aanbod/<%= service.id %>">Meer informatie</a></button>
                        </article>
                    <% } %>
                <% }) %>
            </div>
        </section>
        
        <section>
            <h2 class="homeh2">Zelf een initiatief insturen</h2>
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname">
            </form>
        </section>
    </main>

<%- include('./partials/foot') %>