<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <section>
            <img class="homeImg" src="/Hallen voorpagina.png" alt="Voorpagina BuurtConnect">
            <button class="homeBtnScroll">Bekijk buurtprojecten</button>
            <h1 class="homeH">BuurtConnect: Jouw Buurt, Jouw Projecten</h1>
            <article class="hometext">
                Welkom bij BuurtConnect, het platform dat jouw buurt tot leven brengt met
                geweldige projecten en initiatieven! Of je nu een idee hebt om je buurt groener 
                te maken, een evenement wilt organiseren om je buren te verenigen, of gewoon op 
                zoek bent naar manieren om actief deel te nemen aan je gemeenschap, BuurtConnect 
                is er om je te helpen.
            </article>
        </section>

        <section>
            <h2 class="homeh2">Vraag & Aanbod</h2>
            <div class="container2">
                <% services.forEach(function(service) { %>
                    <!-- Laat alleen de service zien als het type een vraag is -->
                    <% if (service.type=='vraag' ) { %>
                        <article class="card">
                            <a class="linkVA" href="/vraag-aanbod/<%= service.id %>">
                            
                            <% if (service.image) { %>
                                <img class="imgVA" src="https://fdnd-agency.directus.app/assets/<%= service.image %>">
                            <% } %>
    
                            <div class="description">
                                <h3><%= service.title %></h3>                                    
                                
                                <p>
                                    <span>
                                        <%= service.start_date %> - <%= service.end_date %>
                                    </span>
                                </p>
    
                                <p><%- service.short_description %></p>
                            </div>
    
                            <button class="btn">Meer informatie</button>

                            </a>
                        </article>
                    <% } %>
                <% }) %>
            </div>
        </section>
        
        <section>
            <h2 class="homeh2">Zelf een initiatief insturen</h2>
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname">
            </form>
        </section>
    </main>

<%- include('./partials/foot') %>